.button {
  border: 0.0625rem solid #741188; /* 1px */
  background: #741188;
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 6.25rem; /* 100px */
  height: 1.5625rem; /* 25px */
  font-size: 0.75rem; /* 12px */
  font-weight: normal;
  text-transform: uppercase;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.button:focus {
  outline: none;
}
