.home-container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: white;
  border-radius: 10px;
}

.content {
  width: 37.5rem; /* 600px  */
  height: 31.25rem; /* 500px  */
  margin: 0 auto;
  text-align: center;
}

.h1 {
  text-align: center;
  color: #000;
  padding-top: 12.5rem; /* 200px */
  font-size: 2.1875rem; /* 35px  */
  font-weight: normal;
}

.h4 {
  text-align: center;
  color: #000;
  font-size: 0.9375rem; /* 15px  */
  font-weight: normal;
}

.social_media {
  float: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
