body {
  margin: 0px;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: white;
  border-radius: 10px;
}

.content {
  flex: 1;
  margin: 0 auto;
  text-align: center;
}

.home-h1 {
  text-align: center;
  color: #000;
  padding-top: 12.5rem; /* 200px */
  font-size: 2.1875rem; /* 35px */
  font-weight: normal;
}

.h4 {
  text-align: center;
  color: #000;
  font-size: 0.9375rem; /* 15px */
  font-weight: normal;
}

.social_media {
  display: flex; /* Troca float por flex para melhor controle */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

footer {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  background: #741188;
  bottom: 0;
}

footer p {
  color: #ffffff;
}

