/* Style the header */
.header {
    background-color: #fff;
    padding: 10px;
  }

  .home-container {
    background-size: 100% 100%;
    min-height: 100vh;
    background-color: #131a6d;
  }

  .content {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .h1 {
    text-align: center;
    color: #fff;
    padding-top: 200px;
    font-size: 35px;
    font-weight: normal;
  }

  .h4 {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
  }
  
  .p, .contact-link {
    color: #000;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
  }
  
  .p {
    text-align: left;
    padding-right: 10px;
  }
  
  .contact-link {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 40px;
    float: right;
    text-decoration: none;
  }
  
  .contact-link:hover {
    text-decoration: underline; /* Add underline on hover if desired */
  }

  .social_media{
    float: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

  body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
  
  