.note {
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  float: left;
}

.notetitle {
  font-size: 1.1em;
  text-align: left;
}

.paragraph {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: black;
}
